@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-[#0a0a0c] text-slate-300;
  }
}

/* Scrollbar customizada */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-[#0a0a0c];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#334155] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#475569];
}
